

	<!--#<%= @pics.inspect %>-->
	<% @pics.each do |pic| %>

<div class="frost-layer-home text-center">
		<h1 class="thin-header"> <%= pic.title %> </h1>
		<br />
		<h2 class="main-body"> <%= pic.message %> </h2>
		<br />
		<h2 class="main-body"> by:  <%= pic.who %> </h2>
		<br />
		<%= image_tag pic.image %>

</div>
<br />
	<% end %>

